
body{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
}

.friends-container {
display: flex;
flex-wrap: wrap;
}
.friend {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
margin-bottom: 10px;
padding: 10px;
}
.friend-user-info {
display: flex;
align-items: center;
}
.friend-user-info img {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 10px;
}
.friend-buttons {
margin-top: 10px;
}
.friend-buttons button {
background-color: #007bff;
color: #fff;
border: none;
padding: 5px 10px;
border-radius: 5px;
cursor: pointer;
}

  .f {
    color:white; 
    
    
    font-size: 40px;
    height: 30px;
    width: 20px;
    text-align: center;
    font-family: kk ;
    letter-spacing: 7px;
    display: flex;
    justify-content: center;
    margin-right: 4px;
    margin-bottom: 10px;
  }
  .logo {
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    color:#000; 
    text-transform: uppercase;
    display: flex;
    position: relative;
    font-family: ff ;
    letter-spacing: 7px;
    
  }
  .links{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    padding-right: 30px;
    
  }
  .nav1{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    text-decoration: none;
    list-style-type:none;
    height: 50px;
    background-color:#307cf5;
    box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
  }
  li{
    text-decoration: none;
    
  }
  a{
    text-decoration: none;
  
  }
  
  .btn{
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-family: ff;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    
  }
 .btn:hover{
  background-color: lightgrey;
  }
  i{
    color: white;
    margin-right: 5px;
  }
  .notf,.logout{
    width: 50px;
  }
  #srch-btn{
    background-color: white;
    border-width: 0;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 0px 30px 30px 0px;
    transition: background-color 0.3s ease;
    font-family: ff;
    font-size: 16px;
    color: #fff !important;
    font-weight: 500;
  }
  #input-s{
    border-radius: 15px;
    margin-right: 5px;
    background-color: white;
    border: none ;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    height: 30px;
    outline: none;
  }
  #search{
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
  }
  .img-pro{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-right: 50px;
  }