@font-face{
    font-family: babas;
    src: url(/fonts/Imbue-VariableFont_opsz,wght.ttf);
}
@font-face{
    font-family: bab;
    src: url(/fonts/Workbench-Regular.ttf);
}

@font-face{
    font-family: ff;
    src: url(/fonts/Rubik-VariableFont_wght.ttf);
}

body{
    background-color:#d1e8e2;
    background: linear-gradient(to right, #d1e8e2, #d7f0e9);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.container{

    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    width: 768px;
    max-width: 100%;
    min-height: 480px
}
form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 768px;
    border-radius: 30px;
}
h1{
    font-family: babas;
    font-size: 55px;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
    color: #2c3531;
}
input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 70%;
    outline: none;
    text-align: center;
}
#sea-butt{
    margin: 10px;
    background-color:#116466;
    color:#d1e8e2;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;  
}
#cal-butt{
    margin: 10px;
    background-color:#fff;
    color:#2c3531;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid #2c3531;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;  
    transition-duration: 0.4s;
}
#sea-butt:hover{
    background-color:  #d1e8e2;
    color: #116466;
    border: 1px solid #2c3531;
}
#cal-butt:hover{
    background-color:  #d1e8e2;
    color: #116466;
}
#sea-butt,#cal-butt{
    font-family: ff;
}

