@font-face{
    font-family: babas;
    src: url(/fonts/Imbue-VariableFont_opsz,wght.ttf);
}
@font-face{
    font-family: bab;
    src: url(/fonts/Workbench-Regular.ttf);
}

@font-face{
    font-family: ff;
    src: url(/fonts/Rubik-VariableFont_wght.ttf);
}
body{
    background-color:#d1e8e2;
    background: linear-gradient(to right, #d1e8e2, #d7f0e9);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.container{

    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    width: 768px;
    max-width: 100%;
    min-height: 480px
}
form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.sign-in-form{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    gap: 10px;
}
.sign-up-form{
    background-color:#116466;
    border-radius: 30px 150px 100px 30px;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}
h1{
    font-family: babas;
    font-size: 55px;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
    color: #d1e8e2;
    
}
#sign-header{
    font-family: babas;
    font-size: 55px;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
    color: #2c3531;

}
h3{
    font-family:bab;
    font-size:25px;
    letter-spacing: 0.3px;
    color: #d1e8e2;

}
.sign-up-form p{
    
    font-size:16px;
    line-height: 30px;
    letter-spacing: 0.4px;
    margin: 10px 0;
    text-align: center;
    color: #d1e8e2;
}
p{
    margin: 0px;
    color: #2c3531;
}
#sign-in-butt{
    margin: 10px;
    background-color:#116466;
    color:#d1e8e2;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;  
}
#sign-up-butt{
    margin: 10px;
    background-color:#8f9218;
    color:#fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;  
    transition-duration: 0.4s;
}
#sign-up-butt:hover{
    background-color:  #2c3531;
    color: #fff;
}
#sign-up-butt,#sign-in-butt{
    font-family: ff;
}
input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
#password2{
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 130%;
    outline: none;
}