{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fakebook </title>
</head>
<body>
    <!-- navbar here -->
    <h1> blog </h1>
    <a href="{% url 'b-create-post' %}">Create post</a>
    <hr>
    {% for post in posts %}
        <div class="post">

            <div class="post-header">

                <hr>
                <a href="{% url 'u-profile' post.author.username %}"> 
                    <div class="post-author-info">
                        <h5 class="author-username">{{ post.author.username }}</h5>
                        <img src="{{ post.author.profile.picture.url }}" alt="pfp" class="author-profile-picture">
                    </div>
                </a>
                <hr>

                <a href="{% url 'b-post' post.id %}"> 
                    <div class="post-title">
                        <h3>{{post.title}}</h3>
                    </div>
                </a>

            </div>

            <div class="post-body">

                <a href="{% url 'b-post' post.id %}"> 
                    <div class="post-content">
                        <p>{{post.content}}</p>
                        {% if post.image %}
                        <img src="{{post.image.url}}" alt="post image">
                        {% endif %}
                    </div>
                </a>

            </div>

            <br>

            <div class="post-info">
                <p>Likes: {{post.likes.count}} </p>
                <p>Comments: {{post.comments.count}} </p>
            </div>

            <hr><hr>

        </div>
    {% endfor %}
</body>
</html>