{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/blog/post.css' %}">
    <script src="https://kit.fontawesome.com/f8e3ad68c8.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5665c51b75.js" crossorigin="anonymous"></script>
</head>
<body>
    <div style="height: 50px;" class="navbar">
        <ul class="nav1">
            <li>
                <div class="logo">
                    <div class="f"><i>f</i></div>
                    <span style="margin-right: 10px;" class="book">ake book</span>
                    <a href="{% url 'blog:b-home' %}"><button class="btn notf"><i class="fa-solid fa-house"></i> </button></a>
                </div>
            </li>
            
            
            <div class="links">
            
            <li id="search">
                
                <form  action="{% url 'blog:b-search' %}" method="get" style="display: flex;">
                    <div style="background-color: white;display: flex;border-radius: 30px;width: 300px;">
                    <input id="input-s" type="search" name="query" placeholder="Search">
                    <button id="srch-btn" type="submit" value="Search"><i style="color: gray;" class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                    </div>
                </form>
            </li>
            <li>
                <a href="{% url 'user:u-profile' user.username %}"><img class="img-pro" src="{{user.profile.picture.url}}"></button></a>
            </li>
            <li>
                <a href="{% url 'user:u-logout' %}"><button class=" btn logout"><i class="fa-solid fa-door-open fa-lg"></i></button></a>
            </li>
            </div>
        </ul>
    </div>

<div class="home-container">
        
    <ul class="nav2">
        <a href="{% url 'user:u-friends-list' user.username %}"> <li class="li-list"><button class="bbb"><i class="fa-solid fa-people-line" style="color: #74C0FC;"></i>Friends</button></li></a>
        <a href="{% url 'user:u-profile' user.username %}"> <li class="li-list"><button class="bbb"><i class="fa-solid fa-user" style="color: #74C0FC;"></i>Profile</button></li></a>
        <a href="{% url 'marketplace:mp-home' %}"> <li class="li-list"><button class="bbb"><i class="fa-solid fa-shop" style="color: #74C0FC;"></i>Marketplace</button></li></a>
    </ul>

    <div class="posts-contianer">
        <div style="display: flex;flex-direction: column;">
            <div class="the-post">
                <div class="main-post-1">
                    <img class="img-pro2 img-pro" src="{{post.author.profile.picture.url}}">
                    <div class="details-post">
                        <div class="nameus"><p style="margin-bottom: 0px;">{{post.author.username}}</p></div>
                        <div class="date-post">{{post.created_date}}</div> 
                    </div>
                    {% if post.author == user %}
                    <div class="admin">
                        <a href="{% url 'blog:b-update-post' post.id %}"><button class="edit">Edit</button></a>
                        <a href="{% url 'blog:b-delete-post' post.id %}"><button class="delete">Delete</button></a>
                    </div>
                    {% endif %}
                </div>
                <div class="main-post-2">
                    <h3 class="disc">{{post.title}}</h3>
                    {% if post.content %}
                    <p class="disc">{{post.content}}</p>
                    {% endif %}
                </div>
                {% if post.image %}
                <div  class="main-post-3">
                    <img class="post-photo" src="{{post.image.url}}" >
                </div>
                {% endif %}
                <div class="main-post-4">
                    {% if not user_has_liked %}
                    <button class="bbb"> <p>
                    <a href="{% url 'blog:b-like-post' post.id %}" style="color:black;">
                        <i class="fa-regular fa-thumbs-up fa-lg" style="color: #74C0FC;"></i>Like | {{post.likes.count}}
                    </a>
                    </p></button>
                    {% else %}
                    <button class="bbb"> <p>
                        <a href="{% url 'blog:b-like-post' post.id %}" style="color:black;">
                            <i class="fa-regular fa-thumbs-up fa-lg" style="color: #74C0FC;"></i>Remove Like | {{post.likes.count}}
                        </a>
                    </p></button>
                    {% endif %}
                    <button class="bbb"> <p><i class="fa-regular fa-comment fa-lg" style="color: #74C0FC;"></i>Comment | {{post.comments.count}}</p></button>
                </div>
                <div class="comment-container">
                    <form class="comnt-form" method="POST">
                        {% csrf_token %}
                        <div style="display: flex; flex-direction: row; gap: 5px; width: 160px;">
                            <div >
                                <img style="margin: 0px;" src="{{user.profile.picture.url}}" class="img-pro">
                            </div>
                            <div >
                                <p style="margin: 0%; font-size: 20px;">{{user.username}}</p>
                            </div>
                        </div>
                        <input class="input" type="text" name="comment"  placeholder="What are you thinking...">
                    </form>
                    
                    <div class="comments">
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="comnt">
                            <div style="display: flex; flex-direction: row; gap: 5px;">
                                <div style="display: flex; flex-direction: row; gap: 5px; width: 160px;">
                                    <a href={% url 'user:u-profile' comment.author.username %} style="color:black; display:flex;">
                                    <div >
                                        <img style="margin: 4px;" class="img-pro" src="{{comment.author.profile.picture.url}}" alt="">
                                    </div>

                                    <div>
                                        <p style="margin: 0%; font-size: 20px;">{{comment.author.username}}</p>
                                    </div>
                                    </a>
                                </div>
                                {% if comment.author == user %}
                                <a href="{% url 'blog:b-delete-comment' comment.id %}">
                                <button style="background-color: white; border-width: 0px; margin-left: auto;cursor: pointer;">X</button>
                                </a>
                                {% endif %}
                            </div>
                            <p style="background-color: #ececec; padding: 10px; border-radius: 8px;">{{comment.comment|linebreaksbr}}</p>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="hh" style="display: flex; flex-direction: column;width: 20%;margin-left:60px;">
        <div style="padding-bottom: 10px;">
            <img style="height: 190px;" src="https://cdn.discordapp.com/attachments/1096118526361739286/1224841412479160461/Fiverr-1.png?ex=661ef575&is=660c8075&hm=1c900e071b231249b68236d745aa8cd65b438ec65fa9436e22b05d2d84596854&" alt="">
        </div>
    <div class="friends">
        <div>
            <p>Your Friends :</p>
        </div>
        <div style="display: flex; flex-direction: row; gap: 5px; margin-bottom: 20px;">
        {% if friends %}
        {% for friend in friends %}
        <div style="display: flex; flex-direction: row; gap: 5px; margin-bottom: 20px;">
            <div >
                <img style="margin: 0px;" class="img-pro" src="{{friend.profile.picture.url}}" alt="">
            </div>
            <div >
                <p style="margin: 0%; font-size: 20px;">{{friend.username}}</p>
            </div>
            <div >
                <a href=""><i  class="msg fa-regular fa-message fa-sm"></i> </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    </div>

</div>
    
</body>
</html>