{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook | Friends</title>
    <script src="https://kit.fontawesome.com/f8e3ad68c8.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5665c51b75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/users/friends-list.css' %}">
</head>
<body>
    <div style="height: 50px;" class="navbar">
        <ul class="nav1">
            <li>
                <div class="logo">
                    <div class="f"><i>f</i></div>
                    <span style="margin-right: 10px;" class="book">ake book</span>
                    <a href="{% url 'blog:b-home' %}"><button class="btn notf"><i class="fa-solid fa-house"></i> </button></a>
                </div>
            </li>
            
            
            <div class="links">
            
            <li id="search">
                
                <form  action="{% url 'blog:b-search' %}" method="get" style="display: flex;">
                    <div style="background-color: white;display: flex;border-radius: 30px;width: 300px;">
                    <input id="input-s" type="search" name="query" placeholder="Search">
                    <button id="srch-btn" type="submit" value="Search"><i style="color: gray;" class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                    </div>
                </form>
            </li>
  
            <li>
              <a href="{% url 'user:u-profile' user.username %}"><img class="img-pro" src="{{user.profile.picture.url}}"></button></a>
            </li>
  
             <li>
              <a href="{% url 'user:u-logout' %}"><button class=" btn logout"><i class="fa-solid fa-door-open fa-lg"></i></button></a>
            </li>
  
            </div>
        </ul>
    </div>

    {% if user == this_user %} <!---------------------------------------->

    <h2>Your friends</h2>
    {% if friends %}
        <div class="friends-container">
        {% for friend in friends %}
            <div class="friend">
                <!-- USER INFO -->
                <a href="{% url 'user:u-profile' friend.username %}">
                <div class="friend-user-info">
                    <img src="{{ friend.profile.picture.url }}" alt="User Picture">
                    <p>{{ friend.username }}</p>
                </div>
                </a>
                <!-- -------- -->
                <div class="friend-buttons">
                    <a href="{% url 'user:u-remove-friend' friend.id %}"><button>REMOVE</button></a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h4>You have 0 friends</h4>
    {% endif %}

    {% else %}  <!---------------------------------------->

    <h2>{{this_user.username}} friends</h2>
    {% if friends %}
        <div class="friends-container">
        {% for friend in friends %}
            <div class="friend">
                <!-- USER INFO -->
                <a href="{% url 'user:u-profile' friend.username %}">
                <div class="friend-user-info">
                    <img src="{{ friend.profile.picture.url }}" alt="User Picture">
                    <p>{{ friend.username }}</p>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h4>{{this_user.username}} have 0 friends</h4>
    {% endif %}

    {% endif %}  <!---------------------------------------->
</body>
</html>