<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fakebook </title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1> Logged in successfully </h1>
    <a href="{% url 'u-profile' user.username %}"><p>Your Profile</p></a>
    <a href="logout/"><p>logout</p></a>
    {% else %}
    <h1> You're not logged in </h1>
    <a href="login/"><p>login</p></a>
    <a href="register/"><p>Register</p></a>
    {% endif %}
</body>
</html>