{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook | Sign in </title>
    <link rel="stylesheet" href="{% static 'styles/users/login.css' %}">

</head>
<body>
    <div class="container">
        <div class="sign-in-form">
            <form method = "POST">
                {%csrf_token%}
                <h1 id="sign-header"> Sign In</h1>
                <input type="text" id="username" placeholder="Username" required name="username">
                <input type="password" id="password" placeholder="Password" required name="password">
                <a href="{% url 'user:password_reset' %}" ><p> Forget Your Password?</p></a>
                <input type="submit" value="SIGN IN" id="sign-in-butt" >
            </form>
        </div>
        <div class="sign-up-form">
            <h1>Hello </h1>
            <h3>Welcome To FAKEBOOK </h3>
            <p>Register with your personal details to use all of our site features.</p>
            <a href="{% url 'user:u-register' %}"><button id="sign-up-butt"> SIGN UP </button></a>
        </div>
    </div>
    {% if form.errors %}
       {{form.errors}}
    {% endif %}
</body>
</html>