{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
</head>
<body>
    <!-- we put the navbar and all later here -->
    {% if validlink %}

    <div class="reset-password-container">
        <h1>Set a new password</h1>
        <div class="reset-password-form-box">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="submit">
            </form>
        </div>
    </div>

    {% else %}

    <p>The password reset link was invalid, please request a new password reset.</p>

    {% endif %}

</body>
</html>