{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook | Reset password</title>
    <link rel="stylesheet" href="{% static 'styles/users/password-reset-confirm.css' %}">
</head>
<body>
    {% if validlink %}

    <div class="container">
        <div class="sign-in-form">
            <form method="POST">
                <h1>Find your account</h1>
                <span>Please enter your new password.</span>
                {% csrf_token %}
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="new password">
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="confirm new password">
                <div style="display: flex;">
                    <a  href="{% url 'user:u-login' %}"><button type="button" id="cal-butt"> Cancel</button> </a>
                <input type="submit" id="sea-butt" value="validate">
                </div> 
            </form>    

        </div>         
    </div>

    {% else %}
    <div class="container">
    <p>The password reset link was invalid, please request a new password reset.</p>
    </div>

    {% endif %}

</body>
</html>