{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook | Reset password done </title>
    <link rel="stylesheet" href="{% static 'styles/users/password-reset.css' %}">
</head>
<body>
    <div class="container" styles="padding:30px;">
        <div class="sign-in-form">
            <h1 >Check your inbox.</h1>
            <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            <p> Your account email must be a real email. </p>
        </div>         
    </div>
</body>
</html>