{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
</head>
<body>
    <!-- we put the navbar and all later here -->
    <div class="reset-password-done">
        <h1>Check your inbox.</h1>
        <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        <p> Your account email must be a real email. </p>
    </div>
</body>
</html>