{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook | Reset password done </title>
    <link rel="stylesheet" href="{% static 'styles/users/password-reset.css' %}">
</head>
<body>
    <div class="container" styles="padding:30px;">
        <div class="sign-in-form">
            <h1>Password reset complete</h1>
            <p>Your new password has been set.<a href="{% url 'user:u-login' %}"> Login</a>.</p>
        </div>         
    </div>
</body>
</html>